<!DOCTYPE html>
<html>
<head>
    <title>Employee Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navbar">
        <h3><i class="fa-solid fa-building"></i> Hostel Complaint System</h3>
        <div>
            <a href="/">Home</a>
            <a href="/logout">Logout</a>
        </div>
    </div>
    <div class="container">

<h2>Welcome {{ worker_name }}</h2>

<table>
    <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Room No</th>
        <th>Category</th>
        <th>Description</th>
        <th>Status</th>
        <th>Image</th>
        <th>Review</th>
        <th>Update</th>
    </tr>

    {% for complaint in complaints %}
    <tr>
        <td>{{ complaint[0] }}</td>
        <td>{{ complaint[1] }}</td>
        <td>{{ complaint[8] }}</td>
        <td>{{ complaint[2] }}</td>
        <td>{{ complaint[3] }}</td>
        <td class="status 
            {% if complaint[4]=='Pending' %}pending
            {% elif complaint[4]=='In-Progress' %}inprogress
            {% elif complaint[4]=='Resolved' %}resolved
            {% endif %}">
            {{ complaint[4] }}
        </td>
        <!-- Image Column -->
        <td>
            {% if complaint[6] %}
                <img src="/uploads/{{ complaint[6] }}" width="100">
            {% else %}
                No Image
            {% endif %}
        </td>

        <!-- Review Column -->
        <td>
            {% if complaint[7] %}
                {{ complaint[7] }}
            {% else %}
                No Review
            {% endif %}
        </td>

        <!-- Update Status Column -->
        <td>
            <form action="/staff_update/{{ complaint[0] }}/{{ email }}" method="POST">
                <select name="status">
                    <option value="Pending" {% if complaint[4]=='Pending' %}selected{% endif %}>Pending</option>
                    <option value="In-Progress" {% if complaint[4]=='In-Progress' %}selected{% endif %}>In-Progress</option>
                    <option value="Resolved" {% if complaint[4]=='Resolved' %}selected{% endif %}>Resolved</option>
                </select>
                <button type="submit" onclick="return confirmUpdate()">Update</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

<br>
<a href="/">Back to Home</a>
<a href="/logout">Logout</a>
</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>