<!DOCTYPE html>
<html>
<head>
    <title>Hostel Complaint System</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container" style="text-align:center;">
    <h2><i class="fa-solid fa-building"></i> Hostel Complaint & Maintenance System</h2>
    <h3>Select Your Role</h3>

    <div class="role-buttons">
        <a href="/login" class="btn">Student Login</a>
        <a href="/admin_login" class="btn">Admin Login</a>
        <a href="/staff_login" class="btn">Employee Login</a>
    </div>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
