<!DOCTYPE html>
<html>
<head>
    <title>Student Login</title>

    <!-- Link CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <!-- Navbar -->
    <div class="navbar">
        <h2><i class="fa-solid fa-building"></i> Hostel Complaint System</h2>
        <a href="/">Home</a>
    </div>

    <!-- Main Container -->
    <div class="container">
        <h2><i class="fa-solid fa-user"></i> Student Login</h2>

        <form action="/login_user" method="POST" onsubmit="return validateLogin()">
            <input type="email" name="email" placeholder="Enter Email" required>

            <input type="password" name="password" placeholder="Enter Password" required>

            <button type="submit">Login</button>

        </form>

        <br>

        <p style="text-align:center;">
            New Student? <a href="/register">Register Here</a>
        </p>

    </div>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>